#Data Science Tools and Ecosystem

#In this notebook, Data Science Tools and Ecosystem are summarized

#Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Scala
4. Java

#Some of the commonly used libraries used by Data Scientists include:
1. Matplotlib
2. numpy
3. pandas
4. seaborn
5. Tensorflow

#Data Science Tools

|Data Science Tools|
|------------------|
|Python|
|R|
|Github|

###Below are a few examples of evaluating arithmetic expressions in Python

##### +, /, *, -

In [38]:
# This a simple arithmetic expression to mutiply then add integers

print((3*4)+5)

17

In [50]:
# This will convert 200 minutes to hours by diving by 60
hrs = int(200/60)
mins = 200 % 60
print(hrs,"hrs", mins,"mins")

3 hrs 20 mins

#Objectives:
- Write title using Markdown cell
- Tools used in data science
- Languages used in Datascience
- Ordered and un ordered list
- Evaluating Expression

In [77]:
##Author:

# Ravi Lingegowda